/* style.css */

/* Общие стили для страницы */
body {
    font-family: Roboto, Calibri, Tahoma, sans-serif;
    background-color: #1f1a1a;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Стили для музыкального плеера */
.music-player {
    background-color: #000000;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cover {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover img {
    width: 600px;
    height: 600px;
    object-fit: cover;
}

.title h3 {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #ffffff;
    margin-top: 10px;
}

.title h1 {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    color: #ffffff;
}

.lecteur audio {
    width: 100%;
}

/* Стили для навигации */
.center {
    text-align: center;
    margin-top: 20px;
}

.center a {
    text-decoration: none;
    margin: 0 10px;
    color: #333;
}

/* Добавьте другие стили по вашему усмотрению */
